<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.YardSale">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.package.name.MyAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Main Menu Activity -->
        <activity
            android:name=".MainSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!-- Search Listings Activity -->
        <activity
            android:name=".SearchResultsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/search_title"
            android:parentActivityName=".MainSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- My Posts Activity -->
        <activity
            android:name=".MyPostsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/my_posts_title"
            android:parentActivityName=".MainSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <!-- Create Post Activity -->
        <activity
            android:name=".CreatePostActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/create_post_title"
            android:parentActivityName=".MyPostsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>